{% extends 'apps/base.html' %}

{% block title %} CRUD Dajngo - Login {% endblock %}

{% block content %}

<div class="shadow p-4 my-5 bg-body rounded">
<h1>Inicia sesión</h1>

<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Usuario</label>
        <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>
</div>
{% endblock %}